<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logo.png" alt="" id="logoAP">
        </div>

        <div class="redes">
            <div>    
                <a href="http://www.github.com"><img src="../../../assets/github.png" id="GitHub" alt="GitHub"></a>
            
                <a href="http://www.linkedin.com"><img src="../../../assets/linkedin.png" id="LinkedIn" alt="LinkedIn"></a>
            
                <a href="http://www.instagram.com"><img src="../../../assets/instagram.png" id="Instagram" alt="Instagram"></a>
            
                <a href="http://www.twitter.com"><img src="../../../assets/twitter.png" id="Twitter" alt="Twitter"></a>
            
                <a href="http://www.facebook.com"><img src="../../../assets/facebook.png" id="Facebook" alt="Facebook"></a>            
                <button type="button" class="btn btn-outline-light">INGRESAR</button>
            </div>            
        </div>
    </div>
</div>       