.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logoAP{
    width: 168px;
}

img{
    width: 30px;
    margin: 3.5px;
}

.redes{
    margin-right: 15px;
}

.btn{
    border-width: 2.5px;
}
