<div class="row">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/sobremi.jpg" class="img-fluid" alt="" id="foto">
    </div>  

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p id="nivel">Full Stack Developer Jr.</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h2>Sobre mí</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis vel odio eaque totam harum expedita, eius nulla eum similique, ad nesciunt. Maiores culpa rem illo eaque iure magni itaque laboriosam?</p>
    </div>

</div>