<div class="row">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/sobremi.jpeg" class="img-fluid" alt="" id="foto">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nivel">Full Stack Developer Jr.</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h2>SOBRE MI</h2>
        <p>Mi nombre es Juan Bircher, y soy Técnico en Informática. Tengo 34 años y desde hace 17 años, me dedico a trabajar en otra de mis pasiones, que es el turismo.<br>Actualmente integro parte de la Coordinación General Operativa de la empresa KMB S.A. en el sur de Brasil, siendo mi función la recepción de contingentes facilitando la realización de check-in en hotelería, y brindando una reunión informativa con recomendaciones del destino, asistencia médica y nexo con la diagramación de posibles actividades a realizar en el lugar. Acompañamiento de turistas durante su estadía por sobre cualquier cuestión se suscite.<br>Mi intencón respecto a ahondar en  la parte de desarrollo web, y lo relacionado, es la de capacitarme para una posible incerción laboral en dicho mercado. Siendo tambiém motivo, que me especialize en Informática en mis estudios y me apasiona todo lo relacionado con la cuestión.</p>
    </div>

</div>
