<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Coordinación General</h1><br>
                <h3>2012 - Actualidad</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est reprehenderit exercitationem, deleniti libero expedita hic neque in, deserunt nihil beatae, debitis eos. Exercitationem optio deleniti architecto! Tenetur numquam adipisci nisi?</p>
            </li>
            <li>
                <h1>Coordinación</h1><br>
                <h3>2009 - 2012</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est reprehenderit exercitationem, deleniti libero expedita hic neque in, deserunt nihil beatae, debitis eos. Exercitationem optio deleniti architecto! Tenetur numquam adipisci nisi?</p>
            </li>
        </ul>
    </div>
</div>