<div class="row">
    <h1>PROYECTOS REALIZADOS</h1>

        <div class="contenedor">

           <div class="col-sm-12 col-md-7 col-lg-7 parte1">
              <h2>CODEPEN</h2>
               <p>A continuación se hará referencia a cada proyecto con su enlace para poder visualizarlo</p>

              </div>
              <br>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">

          <a href="https://codepen.io/lagart08/full/KKyrvqK"><button class="btn btn-secondary">Ir al proyecto</button></a>

            <img src="../../../assets/proyectoformulario.png" alt="" class="img-fluid img-proyecto">
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">

            <a href="https://codepen.io/lagart08/full/wvPYgwp"><button class="btn btn-secondary">Ir al proyecto</button></a>

            <img src="../../../assets/proyectogeneral.png" alt="" class="img-fluid img-proyecto">
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">

            <a href="https://codepen.io/lagart08/full/oNoJNpj"><button class="btn btn-secondary">Ir al proyecto</button></a>

            <img src="../../../assets/paginaventa.png" alt="" class="img-fluid img-proyecto">
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">

            <a href="https://codepen.io/lagart08/full/ExbGyBa"><button class="btn btn-secondary">Ir al proyecto</button></a>

            <img src="../../../assets/documentaciontecnica.png" alt="" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
