.row{
    padding: 15px;
    color: rgb(77, 157, 228);
}

div{
    background-color: black;
}

h1, h3{
    display: inline;
}

h1{
    color: rgb(189, 210, 211);
    font-size: 18px;
}

h3{
    color: rgb(102, 89, 89);
    font-size: 15px;
}

p, h4{
    color: rgb(171, 168, 180);
}
