<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="50"
            [imageSrc]="'../../../assets/html.png'"
            [showImage]="true"
            [imageHeight]="40"
            [imageWidth]="40"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#666eee'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>

    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="50"
            [imageSrc]="'../../../assets/js.jpg'"
            [showImage]="true"
            [imageHeight]="40"
            [imageWidth]="50"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#666eee'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>

    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="50"
            [imageSrc]="'../../../assets/css.jpg'"
            [showImage]="true"
            [imageHeight]="45"
            [imageWidth]="55"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#666eee'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>

    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="50"
            [imageSrc]="'../../../assets/git.jpg'"
            [showImage]="true"
            [imageHeight]="45"
            [imageWidth]="82"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#666eee'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>


    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="50"
            [imageSrc]="'../../../assets/ingles.jpg'"
            [showImage]="true"
            [imageHeight]="40"
            [imageWidth]="62"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#666eee'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>

    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="50"
            [imageSrc]="'../../../assets/portugues.jpg'"
            [showImage]="true"
            [imageHeight]="40"
            [imageWidth]="62"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#666eee'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>

    <div class=" text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
      [percent]="55"
      [radius]="50"
      [imageSrc]="'../../../assets/spring.jpg'"
      [showImage]="true"
      [imageHeight]="40"
      [imageWidth]="40"
      [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="7"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#666eee'"
      [innerStrokeColor]="'black'"
      [animation]="true"
      [animationDuration]="500">
       </circle-progress>
   </div>



</div>
